body {
  background-color: white;
}

.navbar ul{
   list-style-type: none;
   padding: 0px;
   background-color: #000536;
   overflow: hidden;
   text-align: center;
  
}

.navbar a:hover{
  background: rgb(65, 145, 236);
}

.navbar a{
    color:white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
    justify-content: center;
    width: 135px;
    text-transform: uppercase;
}


 /*responsive*/
 @media(max-width: 767px){
  .navbar {
    width: 50%;
    margin-bottom: 30px;
  }
  }

  @media(max-width: 574px){
    .navbar {
      width: 100%;
      
    }
    }

.navbar li{
  float:inline-end;

}

.heading {
    background-image: url(./image/cover\ Image.jpg);
    background-repeat:no-repeat;
    height: 400px;
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    position: relative;
  }

  .heading img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
  }

  .para {
    font-family: sans-serif;
    font-size: 1.1em;
    color: black;
    font-style: normal;
  }
    
  .navigation .Kandy{
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    font-display: normal;
    color: black;
    text-decoration-line: none;
  }

  .navigation .Sigiriya{
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    font-display: normal;
    color: black;
    text-decoration-line: none;
  }

  .navigation .SriMahaBodhi{
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    font-display: normal;
    color: black;
    text-decoration-line: none;
  }

  .navigation .RuwanweliMahaseya{
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    font-display: normal;
    color: black;
    text-decoration-line: none;
  }

  .navigation .GalViharaya{
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    font-display: normal;
    color: black;
    text-decoration-line: none;
  } 


.flex-container {
  font-weight: bold;
  font-family: serif;
  font-size: 1.5em;
}

.header3 {
background-color: dodgerblue;
color: white;
}

.row{
display: flex;
flex-wrap: wrap;
}
  
.footer{
  background-color: #000536;
  padding: 70px 0; 
}

.footer-col{
width: 25%;
padding: 0 20px;
}

.footer-col h3{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
}

.footer-col h3 ::before{
  content:'';
  position:absolute;
  left: 0;
  bottom: -10px;
  background-color: white;
  height: 5px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}

.footer-col ul li a:hover{
  color: dodgerblue;
  padding-left: 8px;
} 

.footer-cola h3{
color: #ffffff;
font-weight: normal;
}

.footer-cola p{
  color: #ffffff;
  height: 8px;
  
  }

  .footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
   color: #000536;
  }

  /*responsive*/
  @media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  }

  @media(max-width: 574px){
    .footer-col {
      width: 100%;
      
    }
    }

  .footer-col .social-link a:hover{
   color: blue;
   background-color: #ffffff;
  }



.container{
  max-width: 1170px;
  background-color: #000536;
  margin:auto;

}

ul{
  list-style: none;
}

